*.iws
*.launch
.externalToolBuilders/
.DS_Store
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
build/
dist/
nbactions.xml
nbbuild/
nbdist/
nbproject/private/*.bak
*.rbc
*.swp
*~
.#*
.rbx
/.rdoc
/TAGS
/coverage
/html
/pkg
Gemfile.lock
devskiller.marker